{% extends 'base.html' %}
{% block breadcrumb %}
<li>Deposits Page</li>
{% endblock %}
{% block stage %}
<div class="banner">
  <div class="banner_content">
    <h3>Deposits</h3>
    <div class="select_banner row">
      <div class="col-5">
        <button type="button" class="pull-right branch"><a href="{% url 'micro_admin:fixeddeposits' %}">Fixed</a></button>
      </div>
      <div class="col">
        <span class="select_or">Or</span>
      </div>
      <div class="col-5">
        <button type="button" class="pull-left branch"><a href="{% url 'micro_admin:recurring_deposit_list' %}">Recurring</a></button>
      </div>
    </div>
  </div>
</div>
{% endblock stage %}